<h2>Hello,<h2>
<h4>This is</h4> <%=@fname%> <%=@lname%>
<h4>email: </h4> <%=@email%>
<h4>phone number: </h4> <%=@phone%>
<h4>Please support, this is my query: </h4> <%=@query%><br>
<br><h4>Thanks</h4>
 <h4><%=@fname%> <%=@lname%></h4>
